<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="*{'Task Detail ' + task.id}"></title>
</head>
<body>
    <h1 th:text="*{'Task Detail ' + task.id}"></h1>
    <p th:text="*{'Title: ' + task.title}"></p>
    <p th:text="*{'Description: ' + task.description}"></p>
    <p th:text="*{'Due date: ' + task.getDate() + ' ' +  task.getTime()}"></p>

    <!-- button and subtasks not working
    <button type="button" th:onclick="*{'tasks/edit/' + task.id}">Edit Task</button>
    -->
    <h2>subtasks:</h2>

        <table>
        <tr th:each= "subtask :${task.getSubTasks()}">
            <td th:text="*{subtask.getTitle()}"></td>
            <td th:text="*{subtask.getDescription()}"></td>
        </tr>
    </table>
    <!-- button not working
    <button type="button" th:onclick="*{'tasks/' + task.id+ '/sub/create'}">Add SubTask</button>
    -->


</body>
</html>