<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="*{'Task Detail ' + task.id}"></title>
</head>
<body>
    <h1 th:text="*{'Task Detail ' + task.id}"></h1>
    <p th:text="*{'Title: ' + task.title}"></p>
    <p th:text="*{'Description: ' + task.description}"></p>
    <p th:text="*{'Due date: ' + task.getDate() + ' ' +  task.getTime()}"></p>

    <h2>subtasks:</h2>
    <p th:if="*{task.s}">No tasks left to do</p>

    <table th:unless="${tasks.isEmpty()}">
        <tr th:each= "task :${tasks}">
            <td th:text="*{task.id}"></td>
            <td th:text="*{task.date}"></td>
            <td th:text="*{task.time}"></td>
        </tr>
    </table>
</body>
</html>